repos:
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2
        require_serial: true
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml, --strict]
  - repo: local
    hooks:
      - id: mkdocs-build
        name: Build documentation
        entry: conda run -n mkdocs mkdocs build --strict
        language: system
        always_run: true
        pass_filenames: false
