repos:
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        require_serial: true
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml, --strict]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: local
    hooks:
      - id: mkdocs-build
        name: Build documentation
        entry: conda run -n mkdocs mkdocs build --strict
        language: system
        always_run: true
        pass_filenames: false
