# Research Computing System (RCS) Authorization

## Who Is Eligible For RCS Authorization?

Due to security requirements imposed by US federal funding agencies, RCS authorization is limited to specific UAB affiliations. If you are in one of the following categories, you are eligible to access RCS.

- UAB Campus Employee
- UAB Campus Student
- UAB Medicine Employee
- XIAS Guest with UAB Campus Employee Sponsor

Other affiliations, including alumni and volunteer, are not authorized to access RCS.

## What Else Is Required for RCS Authorization?

Being in one of the categories above is necessary for RCS authorization, but not sufficient. Researchers are also expected to adhere to all relevant and prevailing policies, regulations, and laws, at all times.

## Where Can I Read More About Policies?

LINK GOES HERE
