- Adherence to [UAB IT policies](https://www.uab.edu/it/home/policies).
- Adherence to research data security requirements, when applicable (e.g., NIST 800-171, HIPAA, etc.)
- [Responsible Conduct of Research (RCR) training](https://www.uab.edu/research/home/responsible-conduct-of-research) completed.
- Fair and appropriate use of RCS platforms and services.
