<!-- markdownlint-disable first-line-heading -->
<!-- markdownlint-disable MD046 -->
!!! important

    By sponsoring an external collaborator, you assume responsibility for managing their access to, and use of, UAB technology systems.
<!-- markdownlint-enable MD046 -->
